html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0px auto;
}

body {
    background-color: hsl(214,17%,51%);
    width: 100%;
    height: 100%;
}

.container-body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 120px;
    margin-bottom: 5px;
}

.body-image-holder{
    width: 245px;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.header-container{
    background-color: white;
    padding: 20px;
    width: min-content;
    border-radius: 0px 10px 10px 0px;
}

.intro-header{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    padding-bottom: 10px;
    line-height: 1.35;

}

.body-para{
    color: hsl(214,17%,51%) ;
    font-size: 13px;
    font-family:  'Manrope', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 5px;
    line-height: 2;
    width: 405px;
}

.body-footer{
    display: flex;
    gap: 10px;
}

.footer-img{
    border-radius: 50% 50%;
}

.bold-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    gap: 7px;
}

.bold{
    color: hsl(217,19%,35%);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

.no-bold{
    color: hsl(212, 23%, 69%);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.button-tooltip-container{
    display: flex;
    width: 200px;

}

button{
    border-style: none;
    border-radius: 50px 50px;
    outline: none;
    color: white;
    height: 30px;
    padding: 10px;
    position: relative;
    left: 85px;
    top: 12px;
    cursor: pointer;
    width: 35px;

}
div.tooltip.button-container{
    width: 200px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext{
    background-color: hsl(217, 19%, 35%);
    border-radius: 9px;
    width: min-content;
    height: min-content;
    padding: 4px;
    gap: 5px;
    color: white;
    position: relative;
    right: 65px;
    bottom: 45px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    height: min-content;
    background-color: hsl(217,19%,35%);
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 55px;
    right: 60px;

}

.tooltip-text{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(217,19%,35%) transparent transparent transparent;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    body{
        background-color: hsl(212, 23%, 69%);
        align-content: center;
        justify-content: center; 

    }

   .container-body{
        flex-direction: column;
        margin: 10px;
        height: 100%;
    }

    .body-image-holder{
        width: 325px;
        border-radius: 7px 7px 0 0;
        height: 160px;
        background-position-y: center;

    }

    .header-container{
        background-color: white;
        padding: 20px;
        width: 285px;
        height: max-content;
        border-radius: 0 0 7px 7px;
    }

    .body-para{
        width: 95%;
    }

    .body-footer{
        width: 40%;
    }

    .bold-container{
        display: grid;
        grid-template-columns: 30px 30px;
        column-gap: 50px;
    }

    .bold{
        width: 150px;
        position: relative;
        top: 15px;
        height: min-content;
    }

    .no-bold {
       width: 100px;
       position: relative;
       top: 32px;
       right: 80px;
       height: min-content;
    }

    .button-tooltip-container{
        display: flex;

    }
    button{
        left: 47px;
    }

    .attribution{
        width: max-content;
        margin-left: 50px;
    }

}
